<h1>Vuemastery#index</h1>
<p>Find me in app/views/vuemastery/index.html.erb</p>

<%= link_to nil, 'https://www.vuemastery.com' %>

<h2>Intro to Vue.js</h2>

<ol>
  <li><%= link_to 'The Vue Instance', vuemastery_the_vue_instance_path %></li>
  <li><%= link_to 'Attribute Binding', vuemastery_attribute_binding_path %></li>
  <li><%= link_to 'Conditional Rendering', vuemastery_conditional_rendering_path %></li>
  <li><%= link_to 'List Rendering', vuemastery_list_rendering_path %></li>
  <li><%= link_to 'Event Handling', vuemastery_event_handling_path %></li>
  <li><%= link_to 'Class & Style Binding', vuemastery_class_and_style_binding_path %></li>
  <li><%= link_to 'Computed Properties', vuemastery_computed_properties_path %></li>
</ol>
