<!DOCTYPE html>
<html>
  <head>
    <title>Vuecasts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'vuecasts/basic_data_binding' %>
    <%= javascript_pack_tag 'vuecasts/lists' %>
    <%= javascript_pack_tag 'vuemastery/the_vue_instance' %>
    <%= javascript_pack_tag 'vuemastery/attribute_binding' %>
    <%= javascript_pack_tag 'vuemastery/conditional_rendering' %>
    <%= javascript_pack_tag 'vuemastery/list_rendering' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
